body {
    
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.product-info {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
    text-align: center;
    width: 150px;
    height: 100px;
    
    
}

button {
    background-color: #4155a5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 20px;
}

#result {
    
    
    color: #555;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
    padding: 15px;
    border: 1px solid #ccc;
    
    background-color: #fff;
}



.product-price {
    font-size: 25px;
    font-weight: bold;
    color: #1f3866;
    margin-top: 5px;
    text-align: center;
}

.img-container {
    width: 200px;
    height: 200px;
    border: #888 1px solid;
    border-radius: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-container {
    width: 100px;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.title-container {
    width: 150px;
    margin-top: 10px;
    text-align: center;
}